.masonryGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16px;
    width: auto;
    z-index: 0;
}

.masonryGridColumn {
    padding-left: 16px;
    background-clip: padding-box;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 0;
    margin: 0;
    align-items: start;
}

.imageContainer {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 20px;
}

.zoomedImageContainer {
    position: fixed;
    transform: scale(1);
    z-index: 100;
    cursor: zoom-out;
    top: 0;
    right: 0;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

.imageContainer:hover {
    cursor: zoom-in;
}

.imageContainerZoomIn {
    cursor: default !important;
}

.imageContainer:hover .titleOverlay {
    transform: translateY(0);
}

.imageContainer:hover .gradientOverlay {
    opacity: 1;
}

.imageContainer:hover .titleOverlay span {
    transform: translateY(0);
}

.blur {
    filter: blur(8px);
}

.image {
    object-fit: contain;
    width: auto;
    height: auto;
    transform: scale(1);
    border-radius: 20px;
    transition: transform 0s;
    -webkit-transition: transform 0s;
}

.titleOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    z-index: 0;
    height: 100%;
    border-radius: 20px;
}

.titleOverlay span {
    transform: translateY(100%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}

.titleOverlay:hover span,
.titleOverlay:hover i {
    cursor: pointer;
    color: #a0e7ff;
}

.titleOverlay i {
    margin-bottom: 1.5%;
}

.skeleton {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: #ccc;
    animation: shimmer .5s infinite;
    margin-bottom: 16px;
}

@keyframes shimmer {
    0% {
        filter: blur(10%);
    }

    100% {
        filter: blur(0%);
    }
}


.sentinel {
    height: 1px;
    width: 100%;
    background-color: invisible;
    position: relative;
    bottom: 600px;
}


/* Loading Bar */
.loadingBar {
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Zoom Image */

.divContainerImgClicked {
    position: fixed;
    transform: translateY(100%);
    display: flex;
    z-index: 900;
    top: 0;
    left: 0%;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    margin-left: 320px;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.divContainerImgClickedActive {
    transform: translateY(0%);
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.divContainerImgClickedOpacity {
    background-color: rgba(0, 0, 0, 0.0);
}

.divImgClicked:hover {
    cursor: zoom-out;
}

.imageClicked {
    transition-property: padding, outline;
    transition-duration: .3s;
    transition-delay: .2s;
    -webkit-transition-property: padding, outline;
    -webkit-transition-duration: .3s;
    -webkit-transition-delay: .2s;
    outline: 15px solid #F5F5F5;
    outline-offset: 0px;
    margin-bottom: 8%;
}


.imageClickedBackground {
    padding-bottom: 5% !important;
    transition-property: padding-bottom;
    transition-delay: .3s;
    -webkit-transition-property: padding-bottom;
    -webkit-transition-delay: .3s;
}

.image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.imageUnclicked {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.userFixedLayout {
    z-index: 9000;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    /* padding: 1%; */
    width: 100%;
    height: 6.5%;
    align-items: center;
    margin-left: -16px;
    display: flex;
}

.divIconBack {
    width: 53px;
    height: 53px;
}

.modal {
    z-index: 1000 !important;
    width: 100%;
    display: flex;
    position: fixed;
    height: 100%;
    right: 0;
    overflow-y: scroll;
    background: #F5F5F5;
}